@model EditViewModel

@{
    ViewData["Title"] = Model.SpelerId == 0 ? "Nieuwe speler" : "Wijzig speler";
    var action = Model.SpelerId == 0 ? "Create" : "Edit";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="@action" method="post">
    <div asp-validation-summary="ModelOnly"></div>
    <input asp-for="SpelerId" />
    <div class="form-group">
        <label asp-for="Naam"></label>
        <input asp-for="Naam" class="form-control" />
        <span asp-validation-for="Naam" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Voornaam"></label>
        <input asp-for="Voornaam" class="form-control" />
        <span asp-validation-for="Voornaam" class="text-danger"></span>
    </div>
    
    @*<div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>*@
    <div>
        <button class="btn btn-primary" type="submit">Opslaan</button>
        <a asp-action="Index" class="btn btn-default">Annuleren</a>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
